*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.c-1{
    background-image:linear-gradient(45deg,rgba(0, 0, 0, 0.726),rgba(0, 0, 0, 0.698)),url(./cofee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:200vh;
    display: flex;
    text-align: center;
    justify-content: center;
}


.insider{
    background: rgba(0, 0, 0, 0.185);
    position: relative;
    top: 30%;
    height: 450px;
    width: 500px;

}


.insider-1{
    color: white;
    /* position: absolute; */
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
}